.header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 50px;
    margin: 0;
}

.nav {
    background-color: rgb(220, 235, 138);
    text-align: center;
    padding: 10px 50px;
    margin: 0;
}

.header,
.nav {
    font-family: "Courier New", sans-serif;
}

.image {
    margin: 10px;
    float: left;
    display: block;
    margin-right: 50px;
}

.description {
    text-align: left;
    margin-left: 10px;
}

.steps {
    margin-left: 10px;
}

.ingredients {
    border-color: black;
    border-bottom: 4px dotted black;
    margin-left: auto;
    width: 70%;
}


.image-foot {
    text-align: left;
    margin: 0px;
}

ul {
    list-style-type: none;
}

li {
    list-style-position: inside;
}