.header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 50px;
    margin: 0;
}

.nav {
    background-color: rgb(220, 235, 138);
    text-align: center;
    padding: 10px 50px;
    margin: 0;
}

.header,
.nav {
    font-family: "Courier New", sans-serif;
}

.image {
    margin: 10px;
    float: left;
}

.description {
    text-align: left;
    margin-left: 10px;
}

.ingredients {
    margin-left: 680px;
}

.ingredients.ramen {
    margin-left: 750px;
}

.ingredients.chicken {
    margin-left: 750px;
}

.steps {
    margin-left: 680px;
}

.steps.ramen {
    margin-left: 750px;
}

.steps.chicken {
    margin-left: 750px;
}

.image-foot {
    text-align: left;
    margin: 0px;
}